:root {
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

html {
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

body {
    background: var(--color-white);
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
}

ul {
    list-style-type: none;
}

.display-none {
    display: none;
}
.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}
.pointer-events-none {
    pointer-events: none;
}