@import url(./styles_whatsapp_chat_header.css);
@import url(./styles_whatsapp_chat_main.css);
@import url(./styles_whatsapp_chat_footer.css);
@import url(./styles_whatsapp_general_header.css);
@import url(./styles_whatsapp_general_footer.css);
@import url(./styles_whatsapp_list_header.css);
@import url(./styles_whatsapp_list_main.css);
@import url(./styles_whatsapp_newcontact_main.css);
@import url(./styles_whatsapp_profile_header.css);
@import url(./styles_whatsapp_profile_main.css);
@import url(./styles_whatsapp_scrolls.css);
@import url(./styles_whatsapp_status_header.css);
@import url(./styles_whatsapp_updates_main.css);

:root {
    --color-gray-ds: #dddddd;
    --color-gray-9s: #999999;
    --color-gray-81: #313131;
    --color-gray-89: #1b1b1b;
    --color-burlywood: #deb887;
    --color-lemon-serene: #e1ffc7;
    --color-mediumseagreen: #3cb371;/*#1dab61;*/
    --color-grass-smell: #015c4b;
    --color-leaf-stern: #1e2b33;
    --color-sky-triumph: #47aed9;

    --bubble-border-radius: 0.5rem;
    --color-bubble-left: var(--color-white);
    --color-bubble-right: var(--color-lemon-serene);

}

.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };/*This first brace presents an unusual behavior, doesn't show the appropriate colors and needs this semicolon at the end. Reason to create this useless parameter.*/

    .icon {
        width: 1.8rem;
        height: 1.8rem;
    }

    .display-active {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: fit-content;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .screen-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: center !important;
        background-color: var(--color-black);
    }
}