.style-fauxchat {

    * {
        --fauxchat: "fauxchat";
    };

    #screen-chat-header-menu-more {
        width: 1rem;
    }

    .image-head {
        width: 2.6rem;
        height: 2.6rem;
        background: var(--color-black);
        border-radius: 50%;
    }

    #screen-chat-header {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
        width: 100%;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        background: var(--color-white);
        border-bottom: solid 0.01rem var(--color-gray-ds);
    }

    #screen-chat-header-figure {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    #screen-chat-header-figure-back {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        padding-left: 0.2rem;
    }
    
    #screen-chat-header-figure-name {
        height: 100%;
    }

    #screen-chat-header-figure-name figcaption {
        margin-left: 0.6rem;
        font-size: 1.3rem;
        color: var(--color-black);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(31.25rem - 15rem);
    }

    #screen-chat-header-menu {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1rem;
        width: fit-content;
        column-gap: 1.6rem;
    }

}
