@import url(./styles_whatsapp_chat_header.css);
@import url(./styles_whatsapp_chat_main.css);
@import url(./styles_whatsapp_chat_footer.css);
@import url(./styles_whatsapp_profile.css);
@import url(./styles_whatsapp_scrolls.css);

:root {
    --color-gray-ds: #dddddd;
    --color-gray-9s: #999999;
    --color-gray-89: #1d1d1d;
    --color-burlywood: #deb887;
    --color-lemon-serene: #e1ffc7;
    --color-mediumseagreen: #3cb371;/*#1dab61;*/
    --color-grass-smell: #015c4b;
    --color-leaf-stern: #1e2b33;
    --color-sky-triunph: #47aed9;

    --bubble-border-radius: 0.5rem;
    --color-bubble-left: var(--color-white);
    --color-bubble-right: var(--color-lemon-serene);

}

.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };/*This first brace presents an unusual behavior, doesn't show the appropriate colors and needs this semicolon at the end. Reason to create this useless parameter.*/

    .icon {
        width: 1.8rem;
        height: 1.8rem;
    }

    .display-active {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: fit-content;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    #screen-chat-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("/medias/backgrounds/_1b5694c4-153b-440c-9819-f7e6d96c25b3.jpeg");
        background-size: cover;
        background-position: center;
        filter: brightness(0.3) invert(1);
    }

    #screen-chat-background > div {
        width: 100%;
        height: 100%;
        background: var(--color-burlywood);
        filter: opacity(70%) invert(1);
    }

}