.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    #screen-glass {
        position: absolute;
        background-color: var(--color-black);
        filter: opacity(0.5);
        width: 100%;
        height: 100%;
        z-index: 151;
    }

    #screen-gallery-header-rule {
        width: 100%;
    }

}