.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .screen-contact-main-label {
        background-color: var(--color-white);
        color: var(--color-gray);
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.7rem;
    }
/*
    #screen-new-contact > .screen-list-main > li {
        gap: 1rem;
    }
*/
    #screen-new-contact > .screen-list-main img {
        margin: 1.8rem 1rem 0 1rem;
        align-self: flex-start;
    }

    #screen-new-contact > .screen-list-main ul {
        margin: 0 1rem;
        align-self: flex-start;
    }

    .screen-new-contact-field {
        margin-top: 1.5rem;
        height: 1.8rem;
    }

    .with-label {
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .label-above {
        color: var(--color-gray-81);
        position: absolute;
        top: 0.8rem;
        left: 0;
        font-size: 0.7rem;
    }

    .label-within {
        color: var(--color-gray-81);
        position: absolute;
        top: 1.9rem;
        left: 0.3rem;
        font-size: 0.85rem;
        pointer-events: none;
    }

    .with-label input:not(:placeholder-shown) ~ label {
        position: absolute;
        top: 0.8rem;
        left: 0;
        font-size: 0.7rem;
    }

    .with-label input:focus {
        border-bottom: 3px solid var(--color-mediumseagreen);
        caret-color: var(--color-mediumseagreen);
    }

    .with-label input:focus ~ label {
        color: var(--color-mediumseagreen);
        position: absolute;
        top: 0.8rem;
        left: 0;
        font-size: 0.7rem;
    }

    #screen-new-contact .screen-list-main-chatlink-columnalign > li {
        align-self: flex-start;
    }

    .screen-new-contact-field {
        border-bottom: 1px solid var(--color-gray);
        /*
        margin-bottom: 2rem;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        */
    }

    .toggle-button {
        scale: 2;
    }
}