.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .mediaStatus {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .previousAndNext:first-of-type {
        height: 100%;
        width: 20%;
    }

    .previousAndNext:last-of-type {
        height: 100%;
        width: 80%;
    }

    #screen-status-background {
        z-index: 10;
    }

    .screen-status-person {
    }

    #screen-status-header {
        z-index: 101;
        position: absolute;
    }

    #screen-status-main {
        z-index: 100;
        width: 100%;
        height: 100%;

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: red;
        color: white;
    }

}