.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .screen-contact-main-label {
        background-color: var(--color-white);
        color: var(--color-gray);
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.7rem;
    }
/*
    #screen-new-contact > .screen-list-main > li {
        gap: 1rem;
    }
*/
    #screen-new-contact > .screen-list-main img {
        margin: 0 1rem;
    }

    #screen-new-contact .screen-list-main-chatlink-columnalign > li {
        align-self: flex-start;
    }

    .screen-new-contact-field {
        border-bottom: 1px solid var(--color-gray);
        /*
        margin-bottom: 2rem;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        */
    }

    .toggle-button {
        scale: 2;
    }
}