.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .screen-list-header {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: var(--dim-max-screen);
        height: fit-content;
        background: red;
    }

}