.style-fauxchat {

    * {    
        --fauxchat: "fauxchat";
    };

    #screen-chat-main {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: fit-content;
        justify-content: flex-start;
        background: transparent;
        width: calc(100% - 0.05rem);
        height: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    

    .message-bubble {
        clear: both;
        float: left;
        line-height: 18px;
        font-size: 1rem;
        padding: 8px;
        position: relative;
        max-width: 85%;
        word-wrap: break-word;
        border-radius: var(--bubble-border-radius);
        padding: 0.4rem 0.7rem;
        max-width: 85%;
        margin: 0 1rem;
        color: var(--color-black);
        box-shadow: 0 0.1rem var(--color-gray-ds);
    }

    .message-bubble:last-of-type {
        margin-bottom: 0.5rem;
    }

    .message-bubble-center {
        align-self: center;
        margin-top: 0.5rem;
        width: fit-content;
        font-size: 0.8rem;
        font-weight: 500;
        background: var(--color-lemon-serene);
    }

    .message-bubble-left {
        align-self: flex-start;
        margin-top: 0.16rem;
        margin-right: 0.8rem;
        background: var(--color-bubble-left);
    }

    .message-bubble-right {
        flex-direction: row-reverse;
        align-self: flex-end;
        margin-top: 0.16rem;
        margin-left: 0.8rem;
        background: var(--color-bubble-right);
    }

    .message-bubble-left:after,
    .message-bubble-right:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: none;
    }

    .message-bubble-left:first-of-type,
    :not(.message-bubble-left) + .message-bubble-left {
        border-radius: 0 var(--bubble-border-radius) var(--bubble-border-radius) var(--bubble-border-radius);
        float: left;
        margin-top: 0.4rem;
    }

    .message-bubble-left:first-of-type:after,
    :not(.message-bubble-left) + .message-bubble-left:after {
        border-width: 0 0.8rem 0.8rem 0;
        border-color: transparent var(--color-bubble-left) transparent transparent;
        top: 0;
        left: -0.7rem;
        border-style: solid;
    }

    .message-bubble-right:first-of-type,
    :not(.message-bubble-right) + .message-bubble-right {
        border-radius: var(--bubble-border-radius) 0 var(--bubble-border-radius) var(--bubble-border-radius);
        float: right;
        margin-top: 0.4rem;
    }

    .message-bubble-right:first-of-type:after,
    :not(.message-bubble-right) + .message-bubble-right:after {
        border-width: 0 0 0.8rem 0.8rem;
        border-color: transparent transparent transparent var(--color-bubble-right);
        top: 0;
        right: -0.7rem;
        border-style: solid;
    } 

    .message-bubble-metadata {
        float: right;
        padding: 0 0 0 0.4rem;
        position: relative;
        bottom: -0.25rem;
    }

    .message-bubble-time {
        font-size: 0.8rem;
        color: var(--color-gray);
        display: inline-block;
    }

    .message-bubble-done {
        display: inline-block;
        margin-left: 0.1rem;
        position: relative;
        top: 0.25rem;
    }

    .message-bubble-done>img {
        height: 1rem;
        width: 1rem;
    }

    .chat-scroll::-webkit-scrollbar {
        width: 0.3rem;
        height: 0.1rem;
        z-index: 100;
    }
    
    .chat-scroll::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .chat-scroll::-webkit-scrollbar-thumb {
        border-radius: 0.15rem;
        background-color: #80808080;
    }

    .red {
        filter: hue-rotate(14deg);
    }
    .green {
        filter: hue-rotate(120deg);
    }
    .blue {
        filter: hue-rotate(210deg);
    }
    .black {
        filter: grayscale(100%);
    }

}

