.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .screen-updates-main-label {
        margin: 1rem 1rem 0.5rem 1rem;
        font-weight: 500;
        color: var(--color-black);
        font-size: 1.1rem;
    }

    .scrollableX::-webkit-scrollbar {
        width: 0.3rem;
        height: 0.1rem;
        z-index: 100;
        background-color: transparent;
        scroll-behavior: smooth;
    }
    
    .scrollableX::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .scrollableX::-webkit-scrollbar-thumb {
        border-radius: 0.15rem;
        background-color: transparent;
    }

    #screen-updates-main-status {
        display: flex;
        flex-direction: row;
        column-gap: 0.5rem;
        margin-bottom: 0.2rem;
        padding: 0.7rem 1rem 0 1rem;
        resize: none;
        overflow: hidden;
        overflow-x: auto;
    }

    #screen-updates-main-status > li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 4rem;
        resize: none;
    }

    #screen-updates-main-status > li > button:first-of-type > img {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        background-color: var(--color-gray);
    }

    #screen-updates-main-status > li:first-of-type > button:last-of-type {
        position: absolute;
        margin-top: 2.1rem;
        margin-right: -2.3rem;
        border-radius: 50%;
        background-color: white;
        width: 1.2rem;
        height: 1.2rem;
    }

    #screen-updates-main-status figcaption {
        margin-top: 0.5rem;
        width: 4rem;
        font-weight: 400;
        color: var(--color-gray);
        font-size: 0.8rem;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    hr {
        width: 100%;
        height: 0.1rem;
        background-color: var(--color-gray-ds);
    }

    .add-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

}