.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .mediaStatus {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    .previousAndNext:first-of-type {
        height: 100%;
        width: 20%;
    }

    .previousAndNext:last-of-type {
        height: 100%;
        width: 80%;
    }

    #screen-status-background {
        z-index: 10;
    }

    .screen-status-person {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    #screen-status-header {
        z-index: 101;
        position: absolute;
    }

    #screen-status-main {
        z-index: 100;
        width: 100%;
        height: 100%;

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: red;
        color: white;
    }

    .screen-status-deck {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .status-media {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .status-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        padding: 0.5rem;
        height: 6rem;
        width: 100%;
        z-index: 203;
    }

    .button-status-go-previous {
        width: 30%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        opacity: 0; /*Property needed to materialize the button*/
        z-index: 202;
    }

    .button-status-go-next {
        width: 70%;
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        opacity: 0; /*Property needed to materialize the button*/
        z-index: 201;
    }

    .screen-status-card {
        width: 100%;
        height: 100%;

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: gainsboro;
    }

    .screen-status-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .screen-status-footer > .obj-active {
        position: absolute;
        bottom: 0.5rem;
        z-index: 102;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        align-self: center;
        /*
        background-color: var(--color-mediumseagreen);
        color: var(--color-white);
        */
        width: 95%;
        /*margin-bottom: 1rem;*/
        column-gap: 0.75rem;
    }

    .screen-status-footer > .obj-active > * {
        height: 3rem;
        border-radius: 1.5rem;
        background-color: var(--color-gray-89);
    }

    .screen-status-footer > .obj-active > input {
        width: calc(100% - 3.8rem);
        color: white;
        padding: 0 1rem;
        font-size: 1.2rem;
    }
    .screen-status-footer > .obj-active > input::placeholder {
        color: white;
    }

    .screen-status-footer > .obj-active > button {
        width: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}