.style-fauxchat {

    #screen-chat-header-figure img {
        width: 20px;
        height: 20px;
        background: var(--color-black);
        border-radius: 50%;
    }

    #screen-chat-header-figure-back-sign {
        width: 20px;
        height: 20px;
    }

}