.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    .screen-list-main {
        display: flex;
        position: relative;
        flex-direction: column;
        /*align-items: fit-content;*/
        justify-content: flex-start;
        background: transparent;
        width: calc(100% - 0.05rem);
        height: 100%;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
    }
/*
    .screen-list-main {
        height: 100%;
        background: var(--color-white);
    }
*/
    .screen-list-main-chatlink {
        width: 100%;
        background: white;
        color: black;
        padding: 0.7rem;
        column-gap: 0.7rem;
    }

    .screen-list-main-chatlink-rowalign {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .screen-list-main-chatlink-rowalign > p:last-child {
        margin-left: auto;
    }
    .screen-list-main-chatlink-columnalign {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .screen-list-main-chatlink-img {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        flex-shrink: 0;
        background: var(--color-mediumseagreen);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .screen-list-main-chatlink-container {
        display: flex;
        flex-direction: row;
        width: 2rem; /* idk why but the msg containment only works this way, with a defined and not relative value to the width added to flex-grow and flex-shrink */
        flex-grow: 1;
        flex-shrink: 1;
    }

    .screen-list-main-chatlink-contact,
    .screen-list-main-chatlink-msg {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1rem;
    }

    .screen-list-main-chatlink-contact {
        font-size: 1rem;
        font-weight: 600;
    }

    .screen-list-main-chatlink-msg {
        font-size: 0.85rem;
        font-weight: 400;
        padding-left: 0.15rem;
        color: var(--color-gray);
    }

    .screen-list-main-chatlink-time,
    .screen-list-main-chatlink-counter {
        flex-shrink: 0; /* prevent counter to decrease */
        margin-left: auto; /* pull counter to right */
        font-size: 0.75rem;
        font-weight: 500;
    }

    .screen-list-main-chatlink-time-read {
        color: var(--color-gray);
    }

    .screen-list-main-chatlink-time-unread {
        color: var(--color-mediumseagreen);
        font-weight: 600;
    }

    .screen-list-main-chatlink-counter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        background-color: var(--color-mediumseagreen);
        height: 1.2rem;
        min-width: 1.2rem;
        border-radius: 0.6rem;
        padding: 0 0.3rem;
    }

    .screen-list-main-chatlink-pin {
        margin-right: 0.25rem;
    }

    .screen-list-main-chatlink-status {
        margin-top: 0.15rem;
    }
}