.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    #screen-chat-footer {
        background: transparent;
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
        padding: 0.3rem;
        gap: 0.3rem;
        height: fit-content;
    }

    #screen-chat-footer>div:first-child {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        background: var(--color-white);
        padding: 0.45rem;
    }

    .input-msg-field {
        flex-grow: 1;
        word-break: break-all;
        min-height: 1.7rem;
        max-height: 9.6rem;
        font-size: 1.2rem;
        margin-bottom: 0.17rem;
        background: transparent;
        cursor: text;
        padding: 0.1rem 0.4rem;
        resize: none;
        overflow-x: hidden;
        overflow-y: scroll;
        caret-color: var(--color-mediumseagreen);
        user-select: auto;
        display: inline;
        text-decoration-style: solid;
        color: var(--color-black);
    }

    .input-msg-field:empty::before {
        content: "Mensagem";
        color: var(--color-gray);
        cursor: text;
    }
    /*
    .input-msg-field::selection {
        background-color: var(--color-mediumseagreen);
        color: var(--color-white);
    }
    */
    #screen-chat-footer>div:first-child>button:not(:first-of-type):not(:nth-of-type(2)) {
        margin-left: 1.6rem;
    }

    #screen-chat-footer>div:first-child {
        padding-right: 1rem;
    }

    #screen-chat-footer>div:last-child {
        width: max-content;
        height: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 1.6rem;
        row-gap: 0.3rem;
    }

    .default-green-button-icon {
        width: 1.8rem;
        height: 1.8rem;
    }

    .svg-color-white {
        filter: invert(1);
    }

    .svg-color-gray {
        filter: invert(0.5);
    }

    .default-green-button {
        width: 3rem;
        height: 3rem;
        background: var(--color-mediumseagreen);
        border-radius: 50%;
    }

    .chat-send-panel {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        row-gap: 0.3rem;
        top: -6.3rem;
        z-index: 100;
    }

    .image-send-people {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        background-color: var(--color-salmon-fury);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        font-size: 1rem;
    }

    #screen-chat-footer-info {
        background-color: var(--color-salmon-fury);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}