.style-whatsapp {

    * {
        --whatsapp: "whatsapp";
    };

    #screen-chat-header-menu-more {
        width: 1rem;
    }

    .image-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 2.6rem;
        height: 2.6rem;
        background: var(--color-salmon-fury);
        border-radius: 50%;
        font-size: 1rem;
        color: var(--color-white);
    }

    .screen-chat-header-figure-name-figcaption {
        color: var(--color-black);
    }

    .screen-chat-header-edition {
        background-color: '';
    }

    .screen-chat-header-edition-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 0.2rem;
    }

    .screen-chat-header-edition-right {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;
    };

    .button-chat-edition {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        /*
        width: 2.6rem;
        height: 2.6rem;
        
        background: var(--color-salmon-fury);
        */
        border-radius: 50%;
        font-size: 1.8rem;
        color: var(--color-black);
    }

}
